.template-felix {
    .content {
        @include desktop-small {
            grid-column: 1 / -1;

            .headline {
                padding-bottom: 1rem;
            }

            .copy {
                columns: 2;
                column-gap: 2rem;
                @include column-divider(auto, 50%);
            }
        }

        @include desktop-large {
            .copy {
                columns: 3;
                @include column-divider(auto, calc(33.3333% - 0.5rem));
                @include column-divider-after(calc(33.3333% - 0.5rem), auto);
            }
        }
    }

    .photo {
        @include desktop-small {
            grid-column: 1 / -1;
        }

        .image {
            aspect-ratio: 16 / 5;
        }

        .caption {
            @include desktop-small {
                text-align: right;
            }
        }
    }
}
