.template-griffey {
    .content {
        @include desktop-small {
            grid-column: 1 / span 8;

            .headline {
                padding-bottom: 1rem;
            }

            .copy {
                columns: 2;
                column-gap: 2rem;
                @include column-divider(auto, 50%);
            }
        }
        
        @include desktop-medium {
            grid-column: 1 / span 5;
            grid-row: 1;
            
            .copy {
                columns: unset;
                column-gap: unset;

                &:before {
                    display: none;
                }
            }
        }
    }

    .photo {
        @include desktop-small {
            grid-column: 1 / span 8;
            display: block;
        }

        @include desktop-medium {
            display: flex;
            grid-column: 6 / span 4;
            grid-row: 1;
            @include column-divider(-1rem, auto);
        }

        .image {
            @include desktop-small {
                aspect-ratio: 16 / 7;
            }

            @include desktop-medium {
                aspect-ratio: unset;
                align-self: end;
            }
        }
    }
}