.template-ichiro {
    .content {
        @include desktop-small {
            grid-column: 1 / span 8;

            .headline {
                padding-bottom: 1rem;
            }

            .copy {
                columns: 2;
                column-gap: 2rem;
                @include column-divider(auto, 50%);
            }
        }
        
        @include desktop-medium {
            grid-column: 4 / span 6;
            @include column-divider(auto, 50%);
            columns: 2;
            column-gap: 2rem;

            .copy {
                columns: unset;
                column-gap: unset;

                &:before {
                    display: none;
                }
            }
        }
    }

    .photo {
        @include desktop-small {
            grid-column: 1 / span 8;
        }

        @include desktop-medium {
            @include column-divider(auto, -1rem);
            grid-column: 1 / span 3;
        }

        .image {
            @include desktop-small {
                aspect-ratio: 16 / 7;
            }
            
            @include desktop-medium {
                aspect-ratio: unset;
            }
        }
    }
}