.secondary-story {
    display: grid;
    gap: 1rem 2rem;

    @include desktop-small {
        grid-template-columns: repeat(8, 1fr);
    }

    @include desktop-medium {
        grid-template-columns: repeat(9, 1fr);
    }

    .photo {
        padding-bottom: 0.5rem;

        @include desktop-small {
            padding-bottom: unset;
        }

        .image {
            aspect-ratio: 4 / 3;
            @include cover-fill-image;

            @include tablet-small {
                aspect-ratio: 16 / 9;
            }
        }
    }

    .headline {
        padding-bottom: 0.5rem;

        h3 {
            font-family: $chronicle-deck;
            font-size: $type-size-500;
            text-transform: uppercase;
            line-height: 1.25em;
            letter-spacing: 0.025em;

            @include desktop-small {
                font-size: $type-size-400;
            }
        }
    }
}
