.events-calendar {
    @include mobile-centering;
    padding: 6rem 0 0 0;
    background-image: linear-gradient(0deg, #fcfcfc 0%, #f9f9f9 100%);
    align-items: start;

    & > div {
        @include desktop-small {
            grid-column: 4 / span 8;
        }

        @include desktop-medium {
            grid-column: 5 / span 6;
        }
    }

    @import 'events/section-header';

    @import 'events/days';

    @import 'events/suggest';

    @import 'events/event';
}
