.headlines {
    padding-top: 2rem;

    @include desktop-small {
        padding-top: 0;
        grid-column: 2 / span 4;
        @include column-divider(auto, -1rem);
    }

    @include desktop-medium {
        grid-column: 2 / span 3;
    }

    article.headline {
        & + article.headline {
            padding-top: 1.25rem;
            border-top: 1px solid rgba(0, 0, 0, 0.33);
            margin-top: 1.25rem;

            @include desktop-large {
                padding-top: 1.75rem;
                margin-top: 1.75rem;
            }
        }

        .copy {
            line-height: 1.4125em;
        }

        h4,
        p {
            display: inline;
        }

        h4 {
            font-family: $mercury-small-caps;
            font-weight: 600;
            text-transform: lowercase;
        }

        .meta {
            text-align: right;
            padding-top: 0.75rem;
        }
    }
}
