section.issue-header {
    @include mobile-centering;
    padding-bottom: 1.25rem;
    margin-bottom: 1rem;

    @include desktop-small {
        margin-bottom: 0;
    }

    .flex-container {
        padding: 1.25rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include desktop-small {
            justify-content: space-between;
        }
    }

    .title {
        display: flex;
        justify-content: center;

        @include desktop-small {
            flex-basis: 50%;
            transform: translateY(-1px);
        }

        h1 {
            font-weight: 400;
        }
    }

    .issue-no,
    .edition {
        display: none;

        @include desktop-small {
            display: flex;
            flex-basis: 25%;
        }

        p {
            font-family: $mercury-small-caps;
            font-weight: 400;
            text-transform: lowercase;
            letter-spacing: 0.05em;
            opacity: 0.8;
            font-size: 0.9375rem;
        }
    }

    .edition {
        justify-content: flex-end;
    }
}
