section.secondary-stories {
    @include desktop-small {
        grid-column: 6 / span 8;
        grid-row: 3;
    }

    @include desktop-medium {
        grid-column: 5 / span 9;
    }

    .triple-divider:last-of-type {
        padding-bottom: 0;
    }
}

@import 'secondary-stories/story';

@import 'secondary-stories/griffey';

@import 'secondary-stories/ichiro';

@import 'secondary-stories/felix';
