.subscribe {
    padding-top: 2rem;

    @include desktop-medium {
        padding: 3rem 3rem 0;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-image: linear-gradient(145deg, #ff6aab 0%, #f28675 100%);
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px,
            rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;

        @include desktop-medium {
            flex-wrap: nowrap;
            overflow: hidden;
        }
    }

    .info {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        align-items: center;
        padding: 2rem;
        font-family: $decimal;
        color: $white;

        @include tablet {
            padding: 3rem;
            flex: 1;
        }

        .headline {
            padding-bottom: 0.5rem;

            h3 {
                font-size: $type-size-500;
                font-weight: 600;
                line-height: 1.25em;
                text-transform: uppercase;
                letter-spacing: 0.05em;

                @include tablet {
                    font-size: $type-size-600;
                }
            }
        }

        .subscribe-form {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1.5rem;

            @include tablet {
                box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px,
                    rgba(0, 0, 0, 0.1) 0px 18px 36px -18px;
                border-radius: 5px;
            }

            .email-field {
                height: 3rem;
                border: none;
                width: 100%;
                border-radius: 5px;
                font-family: $decimal;
                font-size: $type-size-300;
                font-weight: bold;
                padding: 0 1rem;
                line-height: 3rem;

                @include tablet {
                    width: auto;
                    flex: 1;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                @include placeholder {
                    color: rgba($black, 0.33);
                    font-weight: normal;
                }

                &:active,
                &:focus {
                    outline: none;
                }
            }

            .submit-btn {
                height: 3rem;
                border: none;
                padding: 0 1.5rem;
                border-radius: 5px;
                font-family: $decimal;
                font-size: $type-size-100;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-weight: bold;
                background: #ff1279;
                color: $white;
                margin-top: 1rem;

                @include tablet {
                    margin-top: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &:hover {
                    cursor: pointer;
                }

                &:active,
                &:focus {
                    outline: none;
                }
            }
        }
    }

    .photo {
        display: none;

        @include desktop-medium {
            display: block;
            clip-path: polygon(0 0, 110% 0, 110% 100%, 33% 100%);
            aspect-ratio: 4 / 3;
            width: clamp(12rem, 25vw, 30rem);
        }

        @include cover-fill-image;

        img {
            object-position: top left;
            filter: saturate(0.7) grayscale(0.1) hue-rotate(0.92turn);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            @include desktop-medium {
                object-position: center center;
            }
        }
    }
}
