@import url('https://cloud.typography.com/6104232/6511432/css/fonts.css');

$mercury-display: 'Mercury Display A', 'Mercury Display B';
$mercury-small-caps: 'Mercury Text G4 A', 'Mercury Text G4 B';
$chronicle: 'Chronicle Text G1 A', 'Chronicle Text G1 B';
$chronicle-deck: 'Chronicle DeckCond A', 'Chronicle DeckCond B';
$decimal: 'Decimal A', 'Decimal B';
