@use "./abstracts" as *;

.related-newsletter {
    margin-bottom: $spacing-500;

    @include mq(tablet) {
        grid-column: 3 / span 6;
    }

    @include mq(desktop-small) {
        grid-column: 5 / span 6;
    }

    @include mq(desktop-medium) {
        grid-column: 6 / span 4;
    }

    &__grid {
        display: grid;
        grid-template-columns: 6rem 1fr;
        gap: $spacing-400;
        padding-bottom: $spacing-400;
        align-items: center;
    }

    &__cover {
        img {
            border-radius: $spacing-050;
        }
    }
    .edition {
        line-height: 1;
        padding-top: $spacing-400;

        &__name {
            display: inline-block;
            font-family: $mercury-small-caps;
            font-size: $type-size-400;
            font-weight: 400;
            text-transform: lowercase;
            letter-spacing: 0.05em;
            color: $gray-700;
        }

        &__tagline {
            display: inline-block;
            font-family: $chronicle;
            font-size: $type-size-200;
            font-style: italic;
            line-height: 1.15;
            text-transform: none;
            color: $gray-500;
            padding-top: $spacing-100;
        }
    }

    .published {
        line-height: 1;
        padding-top: $spacing-200;

        &__issue {
            display: block;
            font-family: $mercury-small-caps;
            font-size: $type-size-100;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            color: #6a6a6a;
            padding-bottom: $spacing-050;
        }

        &__date {
            display: block;
            font-family: $chronicle-deck;
            font-size: $type-size-500;
            letter-spacing: 0.025em;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 0.125em;
                text-decoration-color: $gray-400;
            }
        }
    }
}
