/*

    Theme Name: The Seattle Sun
    Theme URI: https://theseattlesun.com/
    Description: Version 1.0 of The Seattle Sun
    Version: 1.0

*/
/* Box sizing rules */
@import url("https://cloud.typography.com/6104232/6511432/css/fonts.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

div,
section,
article,
aside {
  position: relative;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=navigation],
ol[role=navigation] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1em;
  line-height: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Chronicle Text G1 A", "Chronicle Text G1 B";
}

a {
  color: #000;
  text-decoration: none;
}

::-moz-selection {
  background: #F28675;
  text-shadow: none;
}

::selection {
  background: #F28675;
  color: #fff;
  text-shadow: none;
}

.section-header {
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 3px 0;
  margin-bottom: 1.5rem;
}
.section-header h2 {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.875rem 0 1rem;
}

.section-header-title {
  font-family: "Mercury Text G4 A", "Mercury Text G4 B";
  font-weight: 400;
  text-transform: lowercase;
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  line-height: 1em;
  letter-spacing: 0.05em;
}
.section-header-title.small {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
}

.meta .topic {
  font-family: "Decimal A", "Decimal B";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: 0.8;
  font-size: 0.5625rem;
  padding-bottom: 0.5rem;
}
.meta .topic:after {
  display: block;
  content: "";
  width: 0.75rem;
  height: 1px;
  background: #000;
  opacity: 0.6;
  margin-top: 0.5rem;
}
.meta .topic.no-border::after {
  display: none;
}
@media screen and (min-width: 1280px) {
  .meta .topic.right:after {
    margin-left: auto;
  }
}

.copy-1 {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  line-height: 1.375em;
}
.copy-2 {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  line-height: 1.5em;
}
.copy-2 blockquote {
  padding-left: 1rem;
  border-left: 2px solid #000;
  margin: 1.5rem 0 1.5rem 1rem;
  font-size: 0.875em;
}
.copy-3 {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  .copy-3 {
    font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  }
}
.copy-4 {
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  line-height: 1.5em;
}

.primary-story .copy-2,
.secondary-story .copy-2 {
  text-indent: 1.25rem;
}
.primary-story .copy-2 > p:last-of-type::after,
.secondary-story .copy-2 > p:last-of-type::after {
  content: "";
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  background: #000;
  transform: translate3d(6px, -2px, 0);
}
.primary-story .copy-2 blockquote p,
.secondary-story .copy-2 blockquote p {
  text-indent: 0;
}
.primary-story .copy-2 blockquote + p,
.secondary-story .copy-2 blockquote + p {
  text-indent: 0;
}
.primary-story .caption,
.secondary-story .caption {
  padding-top: 0.5rem;
  font-style: italic;
  font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  line-height: 1.25em;
}

@media screen and (min-width: 992px) {
  html {
    scroll-padding-top: 92px;
  }
}

body {
  background: #fcfcfc;
}

.grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 6rem)) minmax(0, auto);
  }
}
.grid > * {
  grid-column: 2/span 4;
}
@media screen and (min-width: 480px) {
  .grid > * {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .grid > * {
    grid-column: 2/span 12;
  }
}

.divider > * {
  width: 100%;
  height: 1px;
}
.divider .dark {
  background: black;
}
.divider .light {
  background: rgba(0, 0, 0, 0.33);
}

.triple-divider {
  padding: 2rem 0;
}
.triple-divider .middle {
  margin: 4px 0;
}

.top-divider .top {
  margin-bottom: 4px;
}

.bottom-divider .bottom {
  margin-top: 4px;
}

.subscribe-btn {
  display: inline-block;
  color: #fff;
  font-family: "Decimal A", "Decimal B";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  padding: 1rem 1.75rem;
  background-image: linear-gradient(145deg, #ff6aab 0%, #f28675 100%);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
}

.dark {
  background: #202020;
  color: #fff;
}
.dark a {
  color: #fff;
}
.dark .section-header {
  border-color: #fff;
}
.dark .section-header h2 {
  border-color: rgba(255, 255, 255, 0.5);
}
.dark .divider .dark {
  background: white;
}
.dark .divider .light {
  background: rgba(255, 255, 255, 0.33);
}

.banner-navigation {
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.banner-navigation.scrolled {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 768px) {
  .banner-navigation.scrolled .nameplate a {
    opacity: 1;
  }
}
.banner-navigation.fade-out:after {
  background-color: rgba(252, 252, 252, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: background-color 1000ms ease 0;
}
.banner-navigation.fade-in {
  background-color: #fcfcfc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background-color 1000ms ease 1200ms;
}
.banner-navigation.fade-in .nameplate {
  display: none;
}
.banner-navigation .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/-1;
  padding: 0 2rem;
}
.banner-navigation .utilities {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .banner-navigation .utilities {
    flex-basis: 25%;
  }
}
.banner-navigation .social {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
.banner-navigation .social-link + .social-link {
  margin-left: 2rem;
}
.banner-navigation .social a {
  display: block;
}
.banner-navigation .social svg {
  width: 1.25rem;
  height: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 100ms ease 50ms;
}
.banner-navigation .hamburger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.banner-navigation .hamburger .bun {
  width: 1.5rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
}
.banner-navigation .hamburger .bun .patty {
  width: 1.5rem;
  height: 2px;
  background: #000;
  margin-left: auto;
  transition: all 200ms;
}
.banner-navigation .hamburger .bun .patty:after, .banner-navigation .hamburger .bun .patty:before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 2px;
  background: #000;
  position: absolute;
  z-index: 1;
  transition: all 200ms;
}
.banner-navigation .hamburger .bun .patty:before {
  top: -8px;
}
.banner-navigation .hamburger .bun .patty:after {
  top: 8px;
}
.banner-navigation .nameplate {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .banner-navigation .nameplate {
    flex-basis: 50%;
  }
}
.banner-navigation .nameplate a {
  display: block;
  width: 171px;
  height: 30px;
  opacity: 0;
  transition: opacity 200ms ease;
}
@media screen and (min-width: 992px) {
  .banner-navigation .nameplate a {
    width: 232px;
    height: 40px;
  }
}
.banner-navigation .nameplate a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner-navigation .subscribe {
  display: flex;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .banner-navigation .subscribe {
    flex-basis: 25%;
  }
}

.banner-bg {
  width: 100%;
  height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fcfcfc;
  transition: all 0.2s ease;
}
@media screen and (min-width: 992px) {
  .banner-bg {
    height: 92px;
  }
}

.site-header {
  max-width: 40rem;
  margin: 0 auto;
  padding: clamp(3rem, 5vh, 6rem) 0;
}
@media screen and (min-width: 992px) {
  .site-header {
    max-width: unset;
    margin: unset;
  }
}
@media screen and (min-width: 480px) {
  .site-header .nameplate {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  .site-header .nameplate {
    grid-column: 4/span 8;
  }
}
@media screen and (min-width: 1280px) {
  .site-header .nameplate {
    grid-column: 5/span 6;
  }
}
.site-header .nameplate a {
  display: block;
}
.site-header .nameplate svg {
  width: 100%;
}

.site-navigation {
  background: #1a1a1a;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 8888;
  top: 0;
  right: -100%;
  display: flex;
}
@media screen and (min-width: 992px) {
  .site-navigation {
    background: #1c1c1c;
  }
}
.site-navigation.slide-in {
  right: 0;
  transition: right 625ms ease 50ms;
}
.site-navigation.slide-out {
  right: -100% !important;
  transition: right 725ms ease 400ms;
}
@media screen and (min-width: 992px) {
  .site-navigation .nav-content {
    width: 67vw;
    padding-top: 92px;
    display: flex;
    align-items: center;
    padding: 0 clamp(6rem, 15vw, 12rem);
    opacity: 0;
    transition: all 400ms ease 1000ms;
  }
}
@media screen and (max-width: 991px) {
  .site-navigation .nav-content {
    display: none;
  }
}
.site-navigation .nav-content h3 {
  font-family: "Decimal A", "Decimal B";
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 2rem;
  color: #fff;
}
.site-navigation .nav-content ul {
  padding: 0;
}
.site-navigation .nav-content ul li + li {
  padding-top: 3rem;
}
.site-navigation .nav-content ul a {
  font-size: clamp(1.5rem, 1.29rem + 1.07vw, 1.95rem);
  font-family: "Chronicle DeckCond A", "Chronicle DeckCond B";
  font-weight: 400;
  color: #fff;
  position: relative;
}
.site-navigation .nav-content ul a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  content: "";
  width: 0;
  height: 1px;
  transition: all 375ms ease 25ms;
  background-image: linear-gradient(90deg, #FF6AAB 0%, #F28675 100%);
}
.site-navigation .nav-content ul a:hover:after {
  width: 100%;
}
.site-navigation .link-list {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .site-navigation .link-list {
    width: 33vw;
    background-color: #1a1a1a;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    right: -33vw;
    top: 0;
  }
  .site-navigation .link-list.slide-in {
    right: 0;
    transition: right 800ms ease 300ms;
  }
  .site-navigation .link-list.slide-out {
    right: -33vw;
    transition: right 800ms ease 375ms;
  }
}
.site-navigation .link-list ul {
  padding: 0 clamp(4rem, 10vw, 8rem);
  margin: 0;
}
.site-navigation .link-list ul a {
  padding: 1rem 0;
  display: inline-block;
  color: #fff;
  font-size: clamp(2.16rem, 1.85rem + 1.54vw, 2.81rem);
  font-family: "Chronicle DeckCond A", "Chronicle DeckCond B";
  text-transform: uppercase;
  position: relative;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
  opacity: 0;
}
.site-navigation .link-list ul a:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  z-index: 10;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
}
.site-navigation .link-list ul a:after {
  position: absolute;
  bottom: 8px;
  left: 0;
  display: block;
  content: "";
  width: 0;
  height: 2px;
  transition: all 375ms ease 25ms;
  background-image: linear-gradient(90deg, #FF6AAB 0%, #F28675 100%);
}
.site-navigation .link-list ul a:hover:after {
  width: 100%;
}
.site-navigation .link-list ul li:nth-child(1) a {
  transition-delay: 100ms;
}
.site-navigation .link-list ul li:nth-child(1) a:before {
  transition-delay: 100ms;
}
.site-navigation .link-list ul li:nth-child(2) a {
  transition-delay: 200ms;
}
.site-navigation .link-list ul li:nth-child(2) a:before {
  transition-delay: 200ms;
}
.site-navigation .link-list ul li:nth-child(3) a {
  transition-delay: 300ms;
}
.site-navigation .link-list ul li:nth-child(3) a:before {
  transition-delay: 300ms;
}
.site-navigation .link-list ul li:nth-child(4) a {
  transition-delay: 400ms;
}
.site-navigation .link-list ul li:nth-child(4) a:before {
  transition-delay: 400ms;
}
.site-navigation .link-list ul li:nth-child(5) a {
  transition-delay: 500ms;
}
.site-navigation .link-list ul li:nth-child(5) a:before {
  transition-delay: 500ms;
}
.site-navigation .link-list ul li:nth-child(6) a {
  transition-delay: 600ms;
}
.site-navigation .link-list ul li:nth-child(6) a:before {
  transition-delay: 600ms;
}
.site-navigation .link-list ul li:nth-child(7) a {
  transition-delay: 700ms;
}
.site-navigation .link-list ul li:nth-child(7) a:before {
  transition-delay: 700ms;
}
.site-navigation .link-list ul li:nth-child(8) a {
  transition-delay: 800ms;
}
.site-navigation .link-list ul li:nth-child(8) a:before {
  transition-delay: 800ms;
}
.site-navigation .link-list ul li:nth-child(9) a {
  transition-delay: 900ms;
}
.site-navigation .link-list ul li:nth-child(9) a:before {
  transition-delay: 900ms;
}
.site-navigation .link-list ul.show a {
  opacity: 1;
}
.site-navigation .link-list ul.show a:before {
  height: 0;
  inset: 0;
}

body.nav-overlay-open {
  overflow: hidden;
}
body.nav-overlay-open .banner-navigation .nameplate a {
  opacity: 0;
}
body.nav-overlay-open .banner-navigation .social svg {
  fill: #F28675;
  transition: all 200ms ease 200ms;
}
body.nav-overlay-open .banner-bg {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
body.nav-overlay-open .hamburger .bun .patty {
  background: none;
}
body.nav-overlay-open .hamburger .bun .patty:after {
  top: 0;
  transform: rotate(45deg);
  background: #F28675;
  transition: all 200ms;
}
body.nav-overlay-open .hamburger .bun .patty:before {
  top: 0;
  transform: rotate(-45deg);
  background: #F28675;
  transition: all 200ms;
}
body.nav-overlay-open .nav-content {
  opacity: 1;
  transition: all 400ms ease 1000ms;
}

.site-footer {
  margin-top: clamp(1.5rem, 5vh, 3rem);
  padding: clamp(1.5rem, 5vh, 3rem) 0;
}
.site-footer .flex-container {
  padding: 1rem;
  font-size: clamp(0.675rem, 1vw, 0.75rem);
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  .site-footer .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.site-footer .copyright p {
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
.site-footer .badges {
  display: grid;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .site-footer .badges {
    padding-top: 0;
  }
}
.site-footer .cmyk-registration-marks {
  width: 1rem;
  height: 1rem;
}
@media screen and (min-width: 768px) {
  .site-footer .cmyk-registration-marks {
    width: 2rem;
    height: 2rem;
  }
}
.site-footer .cmyk-registration-marks img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.site-footer .upc-code {
  width: 2rem;
  height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .site-footer .upc-code {
    width: 4rem;
    height: 2.5rem;
  }
}
.site-footer .upc-code img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: multiply;
}

section.issue-header {
  max-width: 40rem;
  margin: 0 auto;
  padding-bottom: 1.25rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  section.issue-header {
    max-width: unset;
    margin: unset;
  }
}
@media screen and (min-width: 992px) {
  section.issue-header {
    margin-bottom: 0;
  }
}
section.issue-header .flex-container {
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  section.issue-header .flex-container {
    justify-content: space-between;
  }
}
section.issue-header .title {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  section.issue-header .title {
    flex-basis: 50%;
    transform: translateY(-1px);
  }
}
section.issue-header .title h1 {
  font-weight: 400;
}
section.issue-header .issue-no,
section.issue-header .edition {
  display: none;
}
@media screen and (min-width: 992px) {
  section.issue-header .issue-no,
section.issue-header .edition {
    display: flex;
    flex-basis: 25%;
  }
}
section.issue-header .issue-no p,
section.issue-header .edition p {
  font-family: "Mercury Text G4 A", "Mercury Text G4 B";
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
  font-size: 0.9375rem;
}
section.issue-header .edition {
  justify-content: flex-end;
}

.news {
  max-width: 40rem;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .news {
    max-width: unset;
    margin: unset;
  }
}
@media screen and (min-width: 992px) {
  .news .primary-story .photo,
.news .secondary-story .photo {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .news .primary-story .photo .image,
.news .secondary-story .photo .image {
    flex: 1;
  }
}
.news article.primary-story {
  display: grid;
  gap: 1rem 2rem;
}
.news article.primary-story .article-header .headline h1 {
  font-family: "Chronicle DeckCond A", "Chronicle DeckCond B";
  font-weight: 400;
  font-size: clamp(2.59rem, 2.22rem + 1.85vw, 3.37rem);
}
@media screen and (min-width: 1440px) {
  .news article.primary-story .article-header .headline h1 {
    font-size: clamp(3.11rem, 2.67rem + 2.22vw, 4.04rem);
  }
}
.news article.primary-story .article-header .dek {
  padding-top: 1rem;
}
@media screen and (min-width: 992px) {
  .news .template-payton {
    grid-template-areas: "photo header" "photo body";
    align-items: start;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-payton {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header photo body body";
    align-items: stretch;
  }
}
@media screen and (min-width: 992px) {
  .news .template-payton .article-header {
    grid-area: header;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-payton .article-header {
    text-align: right;
    align-self: end;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-payton .article-header .dek {
    max-width: clamp(10rem, 25vw, 20rem);
    margin-left: auto;
  }
}
@media screen and (min-width: 992px) {
  .news .template-payton .article-body {
    grid-area: body;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-payton .article-body {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .news .template-payton .article-body:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: auto;
    right: 50%;
  }
}
@media screen and (min-width: 992px) {
  .news .template-payton .photo {
    grid-area: photo;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .news .template-payton .photo:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: auto;
    right: -1rem;
  }
}
.news .template-payton .photo .image {
  aspect-ratio: 4/3;
}
@media screen and (min-width: 480px) {
  .news .template-payton .photo .image {
    aspect-ratio: 16/8;
  }
}
@media screen and (min-width: 992px) {
  .news .template-payton .photo .image {
    aspect-ratio: 1/1;
    flex: 1;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-payton .photo .image {
    aspect-ratio: unset;
  }
}
.news .template-payton .photo .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 992px) {
  .news .template-payton .photo .caption {
    text-align: right;
  }
}
@media screen and (min-width: 992px) {
  .news .template-kemp {
    grid-template-areas: "photo photo" "header body";
    align-items: start;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-kemp {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header body body" "photo photo body body";
    align-items: stretch;
  }
}
@media screen and (min-width: 992px) {
  .news .template-kemp .article-header {
    grid-area: header;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-kemp .article-header {
    text-align: right;
    align-self: end;
    max-width: 40rem;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-kemp .article-header .dek {
    max-width: 30rem;
    margin-left: auto;
  }
}
@media screen and (min-width: 992px) {
  .news .template-kemp .article-body {
    grid-area: body;
  }
  .news .template-kemp .article-body:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: -1rem;
    right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-kemp .article-body {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .news .template-kemp .article-body:after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: auto;
    right: 50%;
  }
}
@media screen and (min-width: 992px) {
  .news .template-kemp .photo {
    grid-area: photo;
  }
}
.news .template-kemp .photo .image {
  aspect-ratio: 16/5;
}
.news .template-kemp .photo .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .template-kemp .photo .image img {
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: multiply;
}
@media screen and (min-width: 992px) {
  .news .template-kemp .photo .caption {
    text-align: right;
  }
}
@media screen and (min-width: 992px) {
  .news section.secondary-stories {
    grid-column: 6/span 8;
    grid-row: 3;
  }
}
@media screen and (min-width: 1280px) {
  .news section.secondary-stories {
    grid-column: 5/span 9;
  }
}
.news section.secondary-stories .triple-divider:last-of-type {
  padding-bottom: 0;
}
.news .secondary-story {
  display: grid;
  gap: 1rem 2rem;
}
@media screen and (min-width: 992px) {
  .news .secondary-story {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .news .secondary-story {
    grid-template-columns: repeat(9, 1fr);
  }
}
.news .secondary-story .photo {
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 992px) {
  .news .secondary-story .photo {
    padding-bottom: unset;
  }
}
.news .secondary-story .photo .image {
  aspect-ratio: 4/3;
}
.news .secondary-story .photo .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 480px) {
  .news .secondary-story .photo .image {
    aspect-ratio: 16/9;
  }
}
.news .secondary-story .headline {
  padding-bottom: 0.5rem;
}
.news .secondary-story .headline h3 {
  font-family: "Chronicle DeckCond A", "Chronicle DeckCond B";
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  text-transform: uppercase;
  line-height: 1.25em;
  letter-spacing: 0.025em;
}
@media screen and (min-width: 992px) {
  .news .secondary-story .headline h3 {
    font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  }
}
@media screen and (min-width: 992px) {
  .news .template-griffey .content {
    grid-column: 1/span 8;
  }
  .news .template-griffey .content .headline {
    padding-bottom: 1rem;
  }
  .news .template-griffey .content .copy {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .news .template-griffey .content .copy:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: auto;
    right: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-griffey .content {
    grid-column: 1/span 5;
    grid-row: 1;
  }
  .news .template-griffey .content .copy {
    -moz-columns: unset;
         columns: unset;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .news .template-griffey .content .copy:before {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .news .template-griffey .photo {
    grid-column: 1/span 8;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-griffey .photo {
    display: flex;
    grid-column: 6/span 4;
    grid-row: 1;
  }
  .news .template-griffey .photo:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: -1rem;
    right: auto;
  }
}
@media screen and (min-width: 992px) {
  .news .template-griffey .photo .image {
    aspect-ratio: 16/7;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-griffey .photo .image {
    aspect-ratio: unset;
    align-self: end;
  }
}
@media screen and (min-width: 992px) {
  .news .template-ichiro .content {
    grid-column: 1/span 8;
  }
  .news .template-ichiro .content .headline {
    padding-bottom: 1rem;
  }
  .news .template-ichiro .content .copy {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .news .template-ichiro .content .copy:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: auto;
    right: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-ichiro .content {
    grid-column: 4/span 6;
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .news .template-ichiro .content:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: auto;
    right: 50%;
  }
  .news .template-ichiro .content .copy {
    -moz-columns: unset;
         columns: unset;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .news .template-ichiro .content .copy:before {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .news .template-ichiro .photo {
    grid-column: 1/span 8;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-ichiro .photo {
    grid-column: 1/span 3;
  }
  .news .template-ichiro .photo:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: auto;
    right: -1rem;
  }
}
@media screen and (min-width: 992px) {
  .news .template-ichiro .photo .image {
    aspect-ratio: 16/7;
  }
}
@media screen and (min-width: 1280px) {
  .news .template-ichiro .photo .image {
    aspect-ratio: unset;
  }
}
@media screen and (min-width: 992px) {
  .news .template-felix .content {
    grid-column: 1/-1;
  }
  .news .template-felix .content .headline {
    padding-bottom: 1rem;
  }
  .news .template-felix .content .copy {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .news .template-felix .content .copy:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: auto;
    right: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .news .template-felix .content .copy {
    -moz-columns: 3;
         columns: 3;
  }
  .news .template-felix .content .copy:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: auto;
    right: calc(33.3333% - 0.5rem);
  }
  .news .template-felix .content .copy:after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: calc(33.3333% - 0.5rem);
    right: auto;
  }
}
@media screen and (min-width: 992px) {
  .news .template-felix .photo {
    grid-column: 1/-1;
  }
}
.news .template-felix .photo .image {
  aspect-ratio: 16/5;
}
@media screen and (min-width: 992px) {
  .news .template-felix .photo .caption {
    text-align: right;
  }
}
.news .headlines {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .news .headlines {
    padding-top: 0;
    grid-column: 2/span 4;
  }
  .news .headlines:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: auto;
    right: -1rem;
  }
}
@media screen and (min-width: 1280px) {
  .news .headlines {
    grid-column: 2/span 3;
  }
}
.news .headlines article.headline + article.headline {
  padding-top: 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.33);
  margin-top: 1.25rem;
}
@media screen and (min-width: 1440px) {
  .news .headlines article.headline + article.headline {
    padding-top: 1.75rem;
    margin-top: 1.75rem;
  }
}
.news .headlines article.headline .copy {
  line-height: 1.4125em;
}
.news .headlines article.headline h4,
.news .headlines article.headline p {
  display: inline;
}
.news .headlines article.headline h4 {
  font-family: "Mercury Text G4 A", "Mercury Text G4 B";
  font-weight: 600;
  text-transform: lowercase;
}
.news .headlines article.headline .meta {
  text-align: right;
  padding-top: 0.75rem;
}
.news .subscribe {
  padding-top: 2rem;
}
@media screen and (min-width: 1280px) {
  .news .subscribe {
    padding: 3rem 3rem 0;
  }
}
.news .subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: linear-gradient(145deg, #ff6aab 0%, #f28675 100%);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
}
@media screen and (min-width: 1280px) {
  .news .subscribe-wrapper {
    flex-wrap: nowrap;
    overflow: hidden;
  }
}
.news .subscribe .info {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  padding: 2rem;
  font-family: "Decimal A", "Decimal B";
  color: #fff;
}
@media screen and (min-width: 768px) {
  .news .subscribe .info {
    padding: 3rem;
    flex: 1;
  }
}
.news .subscribe .info .headline {
  padding-bottom: 0.5rem;
}
.news .subscribe .info .headline h3 {
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  font-weight: 600;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .news .subscribe .info .headline h3 {
    font-size: clamp(1.5rem, 1.29rem + 1.07vw, 1.95rem);
  }
}
.news .subscribe .info .subscribe-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .news .subscribe .info .subscribe-form {
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px;
    border-radius: 5px;
  }
}
.news .subscribe .info .subscribe-form .email-field {
  height: 3rem;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-family: "Decimal A", "Decimal B";
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  font-weight: bold;
  padding: 0 1rem;
  line-height: 3rem;
}
@media screen and (min-width: 768px) {
  .news .subscribe .info .subscribe-form .email-field {
    width: auto;
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.news .subscribe .info .subscribe-form .email-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.33);
  font-weight: normal;
}
.news .subscribe .info .subscribe-form .email-field::-moz-placeholder {
  color: rgba(0, 0, 0, 0.33);
  font-weight: normal;
}
.news .subscribe .info .subscribe-form .email-field:-moz-placeholder {
  color: rgba(0, 0, 0, 0.33);
  font-weight: normal;
}
.news .subscribe .info .subscribe-form .email-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.33);
  font-weight: normal;
}
.news .subscribe .info .subscribe-form .email-field:active, .news .subscribe .info .subscribe-form .email-field:focus {
  outline: none;
}
.news .subscribe .info .subscribe-form .submit-btn {
  height: 3rem;
  border: none;
  padding: 0 1.5rem;
  border-radius: 5px;
  font-family: "Decimal A", "Decimal B";
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  background: #ff1279;
  color: #fff;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .news .subscribe .info .subscribe-form .submit-btn {
    margin-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.news .subscribe .info .subscribe-form .submit-btn:hover {
  cursor: pointer;
}
.news .subscribe .info .subscribe-form .submit-btn:active, .news .subscribe .info .subscribe-form .submit-btn:focus {
  outline: none;
}
.news .subscribe .photo {
  display: none;
}
@media screen and (min-width: 1280px) {
  .news .subscribe .photo {
    display: block;
    -webkit-clip-path: polygon(0 0, 110% 0, 110% 100%, 33% 100%);
            clip-path: polygon(0 0, 110% 0, 110% 100%, 33% 100%);
    aspect-ratio: 4/3;
    width: clamp(12rem, 25vw, 30rem);
  }
}
.news .subscribe .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .subscribe .photo img {
  -o-object-position: top left;
     object-position: top left;
  filter: saturate(0.7) grayscale(0.1) hue-rotate(0.92turn);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (min-width: 1280px) {
  .news .subscribe .photo img {
    -o-object-position: center center;
       object-position: center center;
  }
}

.sports-page {
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 6rem;
}
@media screen and (min-width: 992px) {
  .sports-page {
    max-width: unset;
    margin: unset;
  }
}

.template-marshawn {
  display: grid;
}
@media screen and (min-width: 992px) {
  .template-marshawn {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
}
@media screen and (min-width: 1280px) {
  .template-marshawn {
    grid-template-columns: repeat(3, 1fr);
  }
}
.template-marshawn .team {
  padding: 2em 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.template-marshawn .team:first-of-type {
  padding-top: 0;
}
.template-marshawn .team:last-of-type {
  border-bottom: none;
}
@media screen and (min-width: 992px) {
  .template-marshawn .team {
    padding: 2rem;
  }
  .template-marshawn .team:first-of-type {
    padding-top: 2rem;
  }
  .template-marshawn .team:nth-of-type(odd) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  .template-marshawn .team:nth-last-of-type(-n + 2) {
    border-bottom: none;
  }
}
@media screen and (min-width: 1280px) {
  .template-marshawn .team:nth-of-type(odd) {
    border-right: unset;
  }
  .template-marshawn .team:nth-of-type(3n + 2) {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  .template-marshawn .team:nth-last-of-type(-n + 3) {
    border-bottom: none;
  }
}
.template-marshawn .team-header {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.template-marshawn .team-header .team-logo {
  width: 3.5rem;
  height: 3rem;
}
.template-marshawn .team-header .team-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.template-marshawn .team-header .team-info {
  padding-left: 0.5rem;
}
.template-marshawn .team-header .team-info h3 {
  font-weight: 500;
  font-family: "Decimal A", "Decimal B";
  font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.template-marshawn .team-header .team-info h3 span {
  display: block;
  text-transform: unset;
  font-family: "Mercury Display A", "Mercury Display B";
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  padding-left: 0.5em;
  opacity: 0.85;
}
.template-marshawn .team-header .team-info p.status {
  padding-top: 0.25rem;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: italic;
  opacity: 0.7;
}
.template-marshawn .copy {
  line-height: 1.4125em;
}
.template-marshawn .copy strong {
  font-family: "Mercury Text G4 A", "Mercury Text G4 B";
  text-transform: lowercase;
}

.scores,
.schedule {
  padding-top: 2rem;
}
.scores-header,
.schedule-header {
  font-family: "Decimal A", "Decimal B";
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.05em;
}
.scores .game,
.schedule .game {
  display: grid;
  grid-template-columns: clamp(4rem, 8vw, 6rem) 1fr 1fr;
  gap: 0 1rem;
  background: #f3f3f3;
  padding: 0.5rem;
}
.scores .game + .game,
.schedule .game + .game {
  margin-top: 0.125rem;
}
.scores .game.home:not(.soccer) .opponent,
.schedule .game.home:not(.soccer) .opponent {
  grid-column: 2;
  grid-row: 1;
}
.scores .game.home:not(.soccer) .seattle,
.schedule .game.home:not(.soccer) .seattle {
  grid-column: 3;
  grid-row: 1;
}
.scores .game span,
.schedule .game span {
  display: block;
}
.scores .game-info,
.schedule .game-info {
  display: flex;
  align-items: center;
  font-family: "Decimal A", "Decimal B";
  font-size: clamp(0.5rem, 0.42rem + 0.38vw, 0.675rem);
  letter-spacing: 0.025em;
}
.scores .score-team,
.schedule .score-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Decimal A", "Decimal B";
}
.scores .score-team .info,
.schedule .score-team .info {
  display: flex;
  align-items: center;
}
.scores .score-team .info .abbr,
.schedule .score-team .info .abbr {
  padding-left: 0.25rem;
}
.scores .score-team .info .abbr span,
.schedule .score-team .info .abbr span {
  font-size: clamp(0.5rem, 0.42rem + 0.38vw, 0.675rem);
  display: block;
  font-weight: bold;
}
.scores .score-team .info .logo,
.schedule .score-team .info .logo {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scores .score-team .info .logo img,
.schedule .score-team .info .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.scores .score-team .score,
.schedule .score-team .score {
  flex: 1;
}
.scores .score-team .score span,
.schedule .score-team .score span {
  text-align: center;
  font-size: clamp(0.5rem, 0.42rem + 0.38vw, 0.675rem);
}

.events-calendar {
  max-width: 40rem;
  margin: 0 auto;
  padding: 6rem 0 0 0;
  background-image: linear-gradient(0deg, #fcfcfc 0%, #f9f9f9 100%);
  align-items: start;
}
@media screen and (min-width: 992px) {
  .events-calendar {
    max-width: unset;
    margin: unset;
  }
}
@media screen and (min-width: 992px) {
  .events-calendar > div {
    grid-column: 4/span 8;
  }
}
@media screen and (min-width: 1280px) {
  .events-calendar > div {
    grid-column: 5/span 6;
  }
}
.events-calendar .events-section-header {
  text-align: center;
  margin-bottom: 3rem;
}
.events-calendar .events-section-header .events-section-header-title {
  font-family: "Chronicle DeckCond A", "Chronicle DeckCond B";
  font-size: clamp(2.16rem, 1.85rem + 1.54vw, 2.81rem);
  text-transform: uppercase;
  font-weight: 100;
}
.events-calendar .day + .day {
  margin-top: clamp(3rem, 7.5vh, 6rem);
}
.events-calendar .day-header {
  padding-bottom: 1rem;
  text-align: center;
}
.events-calendar .day-header h3 {
  padding: 1rem 0;
}
.events-calendar .suggest {
  padding: 3rem;
  transition: all 0.2s ease-in-out;
  margin-top: clamp(3rem, 7.5vh, 6rem);
  font-family: "Decimal A", "Decimal B";
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
  background-image: linear-gradient(145deg, #FF6AAB 0%, #F28675 100%);
}
.events-calendar .suggest .headline h4 {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  letter-spacing: 0.02em;
  line-height: 1.125em;
}
.events-calendar .suggest .copy {
  padding: 1rem 0;
}
@media screen and (min-width: 992px) {
  .events-calendar .suggest .copy {
    font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  }
}
@media screen and (min-width: 1280px) {
  .events-calendar .suggest .copy {
    font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  }
}
.events-calendar .suggest .cta .btn {
  display: inline-block;
  color: #fff;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  padding-bottom: 0.25rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}
.events-calendar .suggest .cta .btn:hover {
  border-bottom: 2px solid white;
}
.events-calendar .event + .event {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.events-calendar .event .info {
  padding: 1rem 0;
}
.events-calendar .event .info .type {
  display: block;
  padding-bottom: 0.25rem;
  font-family: "Decimal A", "Decimal B";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: 0.8;
  font-size: 0.5625rem;
  opacity: 0.7;
}
.events-calendar .event .info .title {
  font-weight: normal;
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
}
@media screen and (min-width: 992px) {
  .events-calendar .event .info .title {
    font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  }
}
.events-calendar .event .info .details {
  padding-top: 0.25rem;
}
.events-calendar .event .info .details span {
  display: inline-block;
}
.events-calendar .event .info .details span + span {
  margin-left: 0.5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 0.5rem;
}
.events-calendar .event .info .details span.link {
  display: block;
  padding-top: 0.25rem;
  padding-left: unset;
  border-left: unset;
  margin-left: unset;
}
@media screen and (min-width: 768px) {
  .events-calendar .event .info .details span.link {
    display: inline-block;
    padding-top: unset;
    margin-left: 0.5rem;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 0.5rem;
  }
}
.events-calendar .event .info p {
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  line-height: 1.5em;
}
.events-calendar .event .info a {
  position: relative;
  display: inline-block;
}
.events-calendar .event .info a:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(90deg, #ff6aab 0%, #f28675 100%);
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 350ms ease;
}
.events-calendar .event.has-photo {
  display: grid;
  gap: 0;
  grid-template-columns: 7rem 1fr;
  align-items: center;
}
.events-calendar .event.has-photo .info {
  padding: 1rem;
}
.events-calendar .event.has-photo .photo {
  width: 7rem;
  aspect-ratio: 1/1;
}
.events-calendar .event.has-photo .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.events-calendar .event:not(.has-image):first-child .info {
  padding-top: 0;
}