@use "./abstracts" as *;

.headline {
    &__title {
        font-weight: 400;
        line-height: 1.5;

        a {
            text-decoration: none;
        }

        strong {
            font-family: $chronicle-deck;
            font-weight: 600;
        }
    }

    &__has-image {
        display: grid;
        gap: $spacing-400;
        grid-template-columns: 4rem 1fr;

        img {
            margin-top: $spacing-100;
            border-radius: $spacing-050;
        }

        .category-badge {
            grid-column: 1 / -1;
        }
    }

    &__permalink {
        width: 1.25rem;
        height: 1.25rem;
        transform: translateX(0) translateY(0);
        padding: $spacing-050 !important;

        svg {
            width: 0.75rem;
            height: 0.75rem;
        }
    }

    .category-badge {
        padding-top: $spacing-100;
        display: block;
        text-align: right;
    }
}
