@use "./abstracts" as *;

.issue {
    display: grid;
    gap: $spacing-500;
}

.issue-header {
    gap: $spacing-300 $spacing-600;
    align-items: center;
    width: 100%;
    max-width: 40rem;
    margin-inline: auto;

    @include mq(desktop-small) {
        max-width: unset;
        margin-inline: unset;
        gap: $spacing-500 $spacing-700;
    }

    &__grid {
        display: grid;
        gap: $spacing-300 $spacing-700;
        align-items: center;

        @include mq(tablet) {
            grid-template-columns: repeat(3, minmax(0, 1fr));

            & > * {
                grid-row: 1;
            }
        }
    }

    .nameplate {
        &__link {
            display: grid;
            max-width: 12rem;
            margin-inline: auto;
            margin-top: $spacing-300;

            @include mq(tablet) {
                margin-top: 0;
            }

            @include mq(desktop-small) {
                max-width: 20rem;
            }
        }

        svg {
            width: 100%;
            height: auto;
        }
    }

    .edition {
        line-height: 1;
        text-align: center;

        @include mq(tablet) {
            text-align: left;
            grid-column: 1;
        }

        &__name {
            display: block;
            font-family: $mercury-small-caps;
            font-size: $type-size-500;
            font-weight: 400;
            text-transform: lowercase;
            letter-spacing: 0.05em;
            color: $gray-900;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 0.125em;
                text-decoration-color: $gray-400;
            }
        }

        &__tagline {
            display: block;
            font-family: $chronicle;
            font-size: $type-size-300;
            font-style: italic;
            line-height: 1.15;
            text-transform: none;
            letter-spacing: 0;
            color: $gray-700;
            padding-top: $spacing-100;

            @include mq(tablet) {
                font-size: $type-size-200;
                max-width: 7.5rem;
            }

            @include mq(desktop-small) {
                font-size: $type-size-300;
                max-width: unset;
            }
        }
    }

    .published {
        padding-top: $spacing-200;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: $spacing-300;

        @include mq(tablet) {
            padding-top: 0;
            justify-content: end;
        }

        &__cover {
            width: 3rem;
        }

        &__info {
            line-height: 1;
            display: block;
            text-align: right;
        }

        &__issue {
            display: inline-block;
            font-family: $mercury-small-caps;
            font-size: $type-size-200;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            color: $gray-500;
            display: block;

            @include mq(tablet) {
                font-size: $type-size-100;
            }

            @include mq(desktop-small) {
                font-size: $type-size-200;
            }
        }

        &__date {
            display: block;
            font-family: $chronicle-deck;
            font-size: $type-size-400;
            letter-spacing: 0.025em;
            padding-block-start: $spacing-100;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 0.125em;
                text-decoration-color: $gray-400;
            }
        }
    }
}

.issue-body {
    gap: $spacing-500 $spacing-600;
    align-items: start;
    width: 100%;
    max-width: 40rem;
    margin-inline: auto;

    @include mq(desktop-small) {
        max-width: unset;
        margin-inline: unset;
        gap: $spacing-600 $spacing-700;
    }
}
