@mixin column-divider($left, $right) {
    &:before {
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        background: rgba(0, 0, 0, 0.05);
        position: absolute;
        left: $left;
        right: $right;
    }
}