@mixin column-divider-after($left, $right) {
    &:after {
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        background: rgba(0, 0, 0, 0.05);
        position: absolute;
        top: 0;
        left: $left;
        right: $right;
    }
}
