$tablet-small: 480px;
$tablet: 768px;
$desktop-small: 992px;
$desktop-medium: 1280px;
$desktop-large: 1440px;
$desktop-x-large: 1680;
$desktop-xx-large: 1920px;

@mixin tablet-small {
	@media screen and (min-width: #{$tablet-small}) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: #{$tablet}) {
		@content;
	}
}

@mixin desktop-small {
	@media screen and (min-width: #{$desktop-small}) {
		@content;
	}
}

@mixin desktop-medium {
	@media screen and (min-width: #{$desktop-medium}) {
		@content;
	}
}

@mixin desktop-large {
	@media screen and (min-width: #{$desktop-large}) {
		@content;
	}
}

@mixin desktop-x-large {
	@media screen and (min-width: #{$desktop-x-large}) {
		@content;
	}
}

@mixin desktop-xx-large {
	@media screen and (min-width: #{$desktop-xx-large}) {
		@content;
	}
}