.banner-navigation {
	padding: 1.5rem 0;
	margin-bottom: 1rem;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

	&.scrolled {
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);

		@include tablet {
			.nameplate {
				a {
					opacity: 1;
				}
			}
		}
	}

	&.fade-out {
		&:after {
			background-color: rgba(252, 252, 252, 0);
			border-bottom: 1px solid rgba(0, 0, 0, 0);
			transition: background-color 1000ms ease 0;
		}
	}

	&.fade-in {
		background-color: rgba(252, 252, 252, 1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		transition: background-color 1000ms ease 1200ms;

		.nameplate {
			display: none;
		}
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-column: 1 / -1;
		padding: 0 2rem;
	}

	.utilities {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@include tablet {
			flex-basis: 25%;
		}
	}

	.social {
		display: flex;
		align-items: center;
		padding-right: 2rem;

		&-link {
			& + .social-link {
				margin-left: 2rem;
			}
		}

		a {
			display: block;
		}

		svg {
			width: 1.25rem;
			height: 1.25rem;
			object-fit: contain;
			transition: all 100ms ease 50ms;
		}
	}

	@import "hamburger";

	.nameplate {
		display: flex;
		justify-content: center;

		@include tablet {
			flex-basis: 50%;
		}

		a {
			display: block;
			width: 171px;
			height: 30px;
			opacity: 0;
			transition: opacity 200ms ease;

			@include desktop-small {
				width: 232px;
				height: 40px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	.subscribe {
		display: flex;
		justify-content: flex-start;

		@include tablet {
			flex-basis: 25%;
		}
	}
}

.banner-bg {
	width: 100%;
	height: $mobile-scroll-top-padding;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3333;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	background-color: rgba(252, 252, 252, 1);
	transition: all 0.2s ease;

	@include desktop-small {
		height: $scroll-top-padding;
	}
}
