.hamburger {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.bun {
		width: 1.5rem;
		height: 1.25rem;
		display: flex;
		align-items: center;

		.patty {
			width: 1.5rem;
			height: 2px;
			background: $black;
			margin-left: auto;
			transition: all 200ms;

			&:after,
			&:before {
				content: "";
				display: block;
				width: 1.5rem;
				height: 2px;
				background: $black;
				position: absolute;
				z-index: 1;
				transition: all 200ms;
			}

			&:before {
				top: -8px;
			}

			&:after {
				top: 8px;
			}
		}
	}
}
