@import "banner";

.site-header {
	@include mobile-centering;
	padding: clamp(3rem, 5vh, 6rem) 0;

	.nameplate {
		@include tablet-small {
			grid-column: 3 / span 6;
		}
		@include desktop-small {
			grid-column: 4 / span 8;
		}

		@include desktop-medium {
			grid-column: 5 / span 6;
		}

		a {
			display: block;
		}

		svg {
			width: 100%;
		}
	}
}

@import "navigation";

@import "nav-overlay-open";
