body.nav-overlay-open {
	overflow: hidden;

	.banner-navigation {
		.nameplate {
			a {
				opacity: 0;
			}
		}

		.social {
			svg {
				fill: $orange;
				transition: all 200ms ease 200ms;
			}
		}
	}

	.banner-bg {
		border-bottom: 1px solid rgba(0, 0, 0, 0);
	}

	.hamburger {
		.bun {
			.patty {
				background: none;

				&:after {
					top: 0;
					transform: rotate(45deg);
					background: $orange;
					transition: all 200ms;
				}

				&:before {
					top: 0;
					transform: rotate(-45deg);
					background: $orange;
					transition: all 200ms;
				}
			}
		}
	}

	.nav-content {
		opacity: 1;
		transition: all 400ms ease 1000ms;
	}
}
