.site-navigation {
    background: $slate;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 8888;
    top: 0;
    right: -100%;
    display: flex;

    @include desktop-small {
        background: #1c1c1c;
    }

    &.slide-in {
        right: 0;
        transition: right 625ms ease 50ms;
    }

    &.slide-out {
        right: -100% !important;
        transition: right 725ms ease 400ms;
    }

    .nav-content {
        @include desktop-small {
            width: 67vw;
            padding-top: $scroll-top-padding;
            display: flex;
            align-items: center;
            padding: 0 clamp(6rem, 15vw, 12rem);
            opacity: 0;
            transition: all 400ms ease 1000ms;
        }

        @media screen and (max-width: 991px) {
            display: none;
        }

        h3 {
            font-family: $decimal;
            font-size: $type-size-100;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            padding-bottom: 2rem;
            color: $white;
        }

        ul {
            padding: 0;

            li + li {
                padding-top: 3rem;
            }

            a {
                font-size: $type-size-600;
                font-family: $chronicle-deck;
                font-weight: 400;
                color: $white;

                position: relative;

                &:after {
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    display: block;
                    content: '';
                    width: 0;
                    height: 1px;
                    transition: all 375ms ease 25ms;
                    background-image: linear-gradient(
                        90deg,
                        $pink 0%,
                        $orange 100%
                    );
                }

                &:hover {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }

    .link-list {
        display: flex;
        align-items: center;

        @include desktop-small {
            width: 33vw;
            background-color: $slate;
            border-left: 1px solid rgba(255, 255, 255, 0.15);
            right: -33vw;
            top: 0;

            &.slide-in {
                right: 0;
                transition: right 800ms ease 300ms;
            }

            &.slide-out {
                right: -33vw;
                transition: right 800ms ease 375ms;
            }
        }

        ul {
            padding: 0 clamp(4rem, 10vw, 8rem);
            margin: 0;

            a {
                padding: 1rem 0;
                display: inline-block;
                color: $white;
                font-size: $type-size-800;
                font-family: $chronicle-deck;
                text-transform: uppercase;
                position: relative;
                transition-property: all;
                transition-duration: 250ms;
                transition-timing-function: ease;
                opacity: 0;

                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $slate;
                    z-index: 10;
                    transition-property: all;
                    transition-duration: 500ms;
                    transition-timing-function: ease;
                }

                &:after {
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                    display: block;
                    content: '';
                    width: 0;
                    height: 2px;
                    transition: all 375ms ease 25ms;
                    background-image: linear-gradient(
                        90deg,
                        $pink 0%,
                        $orange 100%
                    );
                }

                &:hover {
                    &:after {
                        width: 100%;
                    }
                }
            }

            @for $i from 1 to 10 {
                li:nth-child(#{$i}) a {
                    transition-delay: $i * 100ms;

                    &:before {
                        transition-delay: $i * 100ms;
                    }
                }
            }

            &.show {
                a {
                    opacity: 1;
                }

                a:before {
                    height: 0;
                    inset: 0;
                }
            }
        }
    }
}
