@use "./abstracts" as *;

.flow {
    & > * + * {
        margin-block-start: var(--flow-spacer, 1rem);
    }

    & > .wp-block-separator {
        border-color: $gray-200;
        border-width: 1px;
        margin-block-start: 1.5rem !important;
        margin-block-end: 1.5rem !important;

        + p {
            text-indent: 0;
        }
    }
}
