$border: 1px solid rgba(0, 0, 0, 0.05);

.template-marshawn {
    display: grid;

    @include desktop-small {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }

    @include desktop-medium {
        grid-template-columns: repeat(3, 1fr);
    }

    .team {
        padding: 2em 0.5rem;
        border-bottom: $border;

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            border-bottom: none;
        }

        @include desktop-small {
            padding: 2rem;

            &:first-of-type {
                padding-top: 2rem;
            }

            &:nth-of-type(odd) {
                border-right: $border;
            }

            &:nth-last-of-type(-n + 2) {
                border-bottom: none;
            }
        }

        @include desktop-medium {
            &:nth-of-type(odd) {
                border-right: unset;
            }

            &:nth-of-type(3n + 2) {
                border-left: $border;
                border-right: $border;
            }

            &:nth-last-of-type(-n + 3) {
                border-bottom: none;
            }
        }
    }

    .team-header {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;

        .team-logo {
            width: 3.5rem;
            height: 3rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .team-info {
            padding-left: 0.5rem;

            h3 {
                font-weight: 500;
                font-family: $decimal;
                font-size: $type-size-150;
                text-transform: uppercase;
                display: flex;
                align-items: center;

                span {
                    display: block;
                    text-transform: unset;
                    font-family: $mercury-display;
                    font-size: $type-size-100;
                    padding-left: 0.5em;
                    opacity: 0.85;
                }
            }

            p.status {
                padding-top: 0.25rem;
                font-size: $type-size-200;
                font-family: $mercury-display;
                font-style: italic;
                opacity: 0.7;
            }
        }
    }

    .copy {
        line-height: 1.4125em;

        strong {
            font-family: $mercury-small-caps;
            text-transform: lowercase;
        }
    }
}
