.scores,
.schedule {
    padding-top: 2rem;

    &-header {
        font-family: $decimal;
        font-size: $type-size-100;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 0.05em;
    }

    .game {
        display: grid;
        grid-template-columns: clamp(4rem, 8vw, 6rem) 1fr 1fr;
        gap: 0 1rem;
        background: #f3f3f3;
        padding: 0.5rem;

        & + .game {
            margin-top: 0.125rem;
        }

        &.home {
            &:not(.soccer) {
                .opponent {
                    grid-column: 2;
                    grid-row: 1;
                }

                .seattle {
                    grid-column: 3;
                    grid-row: 1;
                }
            }
        }

        span {
            display: block;
        }
    }

    .game-info {
        display: flex;
        align-items: center;
        font-family: $decimal;
        font-size: $type-size-050;
        letter-spacing: 0.025em;
    }

    .score-team {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $decimal;

        .info {
            display: flex;
            align-items: center;

            .abbr {
                padding-left: 0.25rem;

                span {
                    font-size: $type-size-050;
                    display: block;
                    font-weight: bold;
                }
            }

            .logo {
                width: 1rem;
                height: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .score {
            flex: 1;
            span {
                text-align: center;
                font-size: $type-size-050;
            }
        }
    }
}
