@use "./abstracts" as *;

body,
button,
input,
select,
optgroup,
textarea {
    font-family: $chronicle;
}

a {
    color: $gray-1000;
    text-decoration: none;
}

::-moz-selection {
    background: $subscribe-orange-400;
    color: $gray-0;
    text-shadow: none;
}

::selection {
    background: $subscribe-orange-400;
    color: $gray-0;
    text-shadow: none;
}

.page-title {
    font-family: $chronicle-deck;
    text-transform: uppercase;
    font-weight: 400;
    font-size: $type-size-800;
}

.format {
    font-family: $decimal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $type-size-200;
    letter-spacing: 0.05em;
    padding-bottom: $spacing-100;
    color: $gray-500;
}
