.article-header {
    .headline {
        h1 {
            font-family: $chronicle-deck;
            font-weight: 400;
            font-size: $type-size-900;

            @include desktop-large {
                font-size: $type-size-1000;
            }
        }
    }

    .dek {
        padding-top: 1rem;
    }
}
