.template-kemp {
    @include desktop-small {
        grid-template-areas:
            'photo photo'
            'header body';
        align-items: start;
    }

    @include desktop-medium {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'header header body body'
            'photo photo body body';
        align-items: stretch;
    }

    .article-header {
        @include desktop-small {
            grid-area: header;
        }

        @include desktop-medium {
            text-align: right;
            align-self: end;
            max-width: 40rem;
            margin-left: auto;
        }

        .dek {
            @include desktop-medium {
                max-width: 30rem;
                margin-left: auto;
            }
        }
    }

    .article-body {
        @include desktop-small {
            grid-area: body;
            @include column-divider(-1rem, auto);
        }

        @include desktop-medium {
            columns: 2;
            column-gap: 2rem;
            @include column-divider-after(auto, 50%);
        }
    }

    .photo {
        @include desktop-small {
            grid-area: photo;
        }

        .image {
            aspect-ratio: 16 / 5;

            @include cover-fill-image;

            img {
                object-fit: contain;
                mix-blend-mode: multiply;
            }
        }

        .caption {
            @include desktop-small {
                text-align: right;
            }
        }
    }
}
