.template-payton {
    @include desktop-small {
        grid-template-areas: 
        "photo header"
        "photo body";
        align-items: start;
    }

    @include desktop-medium {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "header photo body body";
        align-items: stretch;
    }


    .article-header {
        @include desktop-small {
            grid-area: header;

        }

        @include desktop-medium {
            text-align: right;
            align-self: end;
        }

        .dek {

            @include desktop-medium {
                max-width: clamp(10rem, 25vw, 20rem);
                margin-left: auto;
            }
        }
    }

    .article-body {
        @include desktop-small {
            grid-area: body;
        }

        @include desktop-medium {
            columns: 2;
            column-gap: 2rem;
            @include column-divider(auto, 50%);
        }
    }

    .photo {

        @include desktop-small {
            grid-area: photo;
            @include column-divider(auto, -1rem);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .image {
            aspect-ratio: 4 / 3;

            @include tablet-small {
                aspect-ratio: 16 / 8;
            }

            @include desktop-small {
                aspect-ratio: 1 / 1;
                flex: 1;
            }

            @include desktop-medium {
                aspect-ratio: unset;
            }

            @include cover-fill-image;
        }

        .caption {
            @include desktop-small {
                text-align: right;
            }
        }


    }
}