@use "colors" as *;

@mixin column-divider-before($left, $right) {
    &:before {
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        background: $gray-100;
        position: absolute;
        left: $left;
        right: $right;
    }
}

@mixin column-divider-after($left, $right) {
    &:after {
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        background: $gray-100;
        position: absolute;
        top: 0;
        left: $left;
        right: $right;
    }
}
