.site-footer {
    margin-top: clamp(1.5rem, 5vh, 3rem);
    padding: clamp(1.5rem, 5vh, 3rem) 0;

    .flex-container {
        padding: 1rem;

		font-size: clamp(0.675rem, 1vw, 0.75rem);
		line-height: 1.5em;

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .copyright {
        p {
            text-transform: uppercase;
            letter-spacing: 0.075em;
        }
    }

    .badges {
        display: grid;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        grid-template-columns: repeat(2, max-content);
        padding-top: 1rem;

        @include tablet {
            padding-top: 0;
        }
    }

    .cmyk-registration-marks {
        width: 1rem;
        height: 1rem;

        @include tablet {
            width: 2rem;
            height: 2rem; 
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .upc-code {
        width: 2rem;
        height: 1.25rem;

        @include tablet {
            width: 4rem;
            height: 2.5rem;
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            mix-blend-mode: multiply;
        }
    }
    
}