.event {
    & + .event {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }

    .info {
        padding: 1rem 0;

        .type {
            display: block;
            padding-bottom: 0.25rem;
            @include small-header();
            opacity: 0.7;
        }

        .title {
            font-weight: normal;
            font-size: $type-size-400;

            @include desktop-small {
                font-size: $type-size-500;
            }
        }

        .details {
            padding-top: 0.25rem;

            span {
                display: inline-block;

                & + span {
                    margin-left: 0.5rem;
                    border-left: 1px solid rgba(0, 0, 0, 0.5);
                    padding-left: 0.5rem;
                }

                &.link {
                    display: block;
                    padding-top: 0.25rem;
                    padding-left: unset;
                    border-left: unset;
                    margin-left: unset;

                    @include tablet {
                        display: inline-block;
                        padding-top: unset;
                        margin-left: 0.5rem;
                        border-left: 1px solid rgba(0, 0, 0, 0.5);
                        padding-left: 0.5rem;
                    }
                }
            }
        }

        p {
            font-size: $type-size-200;
            line-height: 1.5em;
        }

        a {
            position: relative;
            display: inline-block;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-image: linear-gradient(
                    90deg,
                    #ff6aab 0%,
                    #f28675 100%
                );
                border-radius: 3px;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 350ms ease;
            }
        }
    }

    &.has-photo {
        display: grid;
        gap: 0;
        grid-template-columns: 7rem 1fr;
        align-items: center;

        .info {
            padding: 1rem;
        }

        .photo {
            width: 7rem;
            aspect-ratio: 1 / 1;
            @include cover-fill-image;
        }
    }

    &:not(.has-image):first-child {
        .info {
            padding-top: 0;
        }
    }
}
