.events-section-header {
    text-align: center;
    margin-bottom: 3rem;

    .events-section-header-title {
        font-family: $chronicle-deck;
        font-size: $type-size-800;
        text-transform: uppercase;
        font-weight: 100;
    }
}
