.suggest {
    padding: 3rem;
    transition: all 0.2s ease-in-out;
    margin-top: clamp(3rem, 7.5vh, 6rem);
    font-family: $decimal;
    color: $white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
    background-image: linear-gradient(145deg, $pink 0%, $orange 100%);

    .headline {
        h4 {
            font-size: $type-size-400;
            letter-spacing: 0.02em;
            line-height: 1.125em;
        }
    }

    .copy {
        padding: 1rem 0;

        @include desktop-small {
            font-size: $type-size-100;
        }

        @include desktop-medium {
            font-size: $type-size-200;
        }
    }

    .cta {
        .btn {
            display: inline-block;
            color: $white;
            font-size: $type-size-200;
            padding-bottom: 0.25rem;
            border-bottom: 2px solid rgba(255, 255, 255, 0.6);
            transition: all 0.2s ease-in-out;
            font-weight: bold;

            &:hover {
                border-bottom: 2px solid rgba(255, 255, 255, 1);
            }
        }
    }
}
