@use "./abstracts" as *;

.headlines {
    position: relative;
    display: grid;
    gap: $spacing-400;
    align-content: start;
    align-self: stretch;

    @include mq(desktop-small) {
        grid-column: 10 / span 4;
        @include column-divider-before(calc(-1 * ($column-spacing / 2)), auto);
    }

    &__list {
        display: grid;
        gap: $spacing-400;
    }

    .headline {
        & + .headline {
            border-top: 1px solid $gray-100;
            padding-top: $spacing-400;
        }
    }
}
