@use "./abstracts" as *;

.links {
    display: grid;
    gap: $spacing-500;
    position: relative;

    @include mq(desktop-small) {
        grid-column: 2 / span 4;
        @include column-divider-after(auto, -1.5rem);
    }

    &__list {
        display: grid;
        gap: $spacing-500;
    }
}

.link {
    display: grid;
    grid-template-columns: $spacing-700 minmax(0, 1fr);
    gap: $spacing-400;

    a {
        display: block;

        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        padding-top: $spacing-200;
        img {
            max-width: $spacing-500;
            width: 100%;
            height: auto;
            object-fit: contain;
            mix-blend-mode: multiply;
        }
    }

    &__headline {
        font-family: $chronicle-deck;
        font-size: $type-size-400;
        line-height: 1.1;
        font-weight: 400;

        &-text {
            display: block;
        }
    }

    &__source {
        display: block;
        font-size: $type-size-300;
        font-family: $mercury-display;
        line-height: 1.1;
        font-weight: 400;
        color: #2860eb;
        text-decoration: underline;
        letter-spacing: 0.01em;
        padding-top: $spacing-100;
    }

    &__commentary {
        padding-top: $spacing-200;
        font-size: $type-size-200;
    }

    &__main:hover {
        .link__headline-text {
            text-decoration: underline;
            text-decoration-color: $gray-500;
            text-decoration-thickness: 0.5px;
            text-underline-offset: 2px;
        }
    }
}
