@use "./abstracts" as *;

.map {
    display: grid;
    gap: $spacing-500 $spacing-700;
    grid-template-columns: subgrid;

    &__figure {
        grid-column: 1 / -1;
        aspect-ratio: 9 / 12;
        position: relative;

        @include mq(desktop-small) {
            grid-row: 1;
            grid-column: 1 / span 7;
        }

        &-wrapper {
            @include mq(desktop-small) {
                position: sticky;
                top: $spacing-800;
            }
        }

        .poi {
            position: absolute;
            width: 32px;
            height: 32px;
            display: block;
            z-index: 10;

            @include mq(desktop-small) {
                width: 54px;
                height: 54px;
            }

            &:hover {
                cursor: pointer;

                .poi__popover {
                    opacity: 1;
                }
            }

            &__popover {
                position: absolute;
                opacity: 0;
                right: 0;
                z-index: 10;
                transition: opacity 500ms ease;
                background: $gray-0;
                padding: $spacing-200 $spacing-300;
                border-radius: $spacing-100;
                box-shadow: 2px 4px 12px rgba($gray-1000, 0.25);
            }

            &__headline {
                font-family: $decimal;
                font-size: $type-size-050;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                white-space: nowrap;
            }
        }
    }

    &__info {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        gap: $spacing-600;
        align-content: start;

        @include mq(desktop-small) {
            grid-row: 1;
            grid-column: 8 / span 5;
        }
    }

    &__list {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: $spacing-700;
        justify-content: space-between;

        &-wrapper {
            display: grid;
            gap: $spacing-700;
        }
    }

    &__post {
        display: grid;
        gap: $spacing-400;
        grid-template-columns: $spacing-600 1fr;

        &-content {
            display: grid;
            gap: $spacing-100;
        }
    }

    &__icon {
        display: grid;
        place-items: center;
        width: $spacing-600;
        height: $spacing-600;
        aspect-ratio: 1 / 1;
        border: 2px solid $gray-300;
        color: $gray-950;
        border-radius: 50%;
        font-family: $decimal;
        font-size: $type-size-200;
        font-weight: bold;

        svg {
            width: 12px;
            height: 17px;

            path {
                fill: $gray-300;
            }
        }
    }

    &__headline {
        font-family: $chronicle-deck;
        font-size: $type-size-400;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.025em;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
            max-width: 12rem;
            mix-blend-mode: multiply;
            filter: brightness(1.2);
        }
    }
}
