@use "./abstracts" as *;

.numbers {
    display: grid;
    gap: $spacing-500;

    &__list {
        display: grid;
        gap: $spacing-500;
        align-items: start;

        @include mq(desktop-small) {
            gap: $spacing-700;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-template-rows: auto minmax(0, 1fr);
        }
    }
}

.number {
    display: grid;
    gap: $spacing-300;

    @include mq(desktop-small) {
        grid-template-rows: subgrid;
        grid-row: 1 / -1;
    }

    & + .number {
        border-top: 1px solid $gray-100;
        padding-top: $spacing-600;

        @include mq(desktop-small) {
            border-top: none;
            padding-top: 0;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: $spacing-200;

        @include mq(desktop-small) {
            flex-direction: row;
            align-items: flex-end;
            gap: $spacing-300;
            padding-bottom: $spacing-400;
            border-bottom: 1px solid $gray-200;
        }
    }

    &__stat {
        font-size: $type-size-1000;
        font-family: $chronicle-compressed;
        font-weight: 400;
        line-height: 1;

        @include mq(desktop-small) {
            font-size: $type-size-800;
        }
    }

    &__label {
        font-family: $decimal;
        font-size: $type-size-200;
        color: $gray-900;
        font-weight: 400;
        text-wrap: balance;
        line-height: 1.4;

        br {
            display: none;

            @include mq(desktop-small) {
                display: block;
            }
        }
    }

    &__copy {
        @include mq(desktop-small) {
            align-self: start;
        }
    }
}
