@use "./abstracts" as *;

.photos {
    display: grid;
    gap: $spacing-500;

    &__grid {
        display: grid;
        gap: $spacing-400;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        @include mq(desktop-small) {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }

    &__link {
        display: block;
        aspect-ratio: 1 / 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__caption {
        padding: $spacing-400 $spacing-600;
        border-radius: $spacing-100;
        color: $gray-0;
        font-family: $chronicle;
        font-size: $type-size-400;
        display: block;
        text-wrap: balance;
        max-width: 55rem;
        width: 100%;
        margin: 0 auto;
    }

    &__credit {
        display: block;
        text-transform: uppercase;
        padding-top: $spacing-200;

        font-family: $chronicle-deck;
        font-size: $type-size-200;
        letter-spacing: 0.025em;
        color: $gray-300;
    }
}

.fslightbox-open {
    .fslightbox-container {
        background: rgba($gray-1000, 0.95);
    }

    .fslightbox-slide-number-container,
    .fslightbox-toolbar-button[title="Zoom In"],
    .fslightbox-toolbar-button[title="Zoom Out"],
    .fslightbox-toolbar-button[title="Thumbnails"],
    .fslightbox-toolbar-button[title="Turn on slideshow"],
    .fslightbox-toolbar-button[title="Enter fullscreen"],
    .fslightbox-thumbs {
        display: none;
    }

    .fslightboxci {
        padding: 0;
    }

    .fslightboxc:after {
        background: unset;
    }
    .fslightbox-toolbar,
    .fslightbox-slide-btn {
        background: $subscribe-orange-400;
    }

    .fslightbox-svg-path {
        fill: $gray-0;
    }
}
