@use "./abstracts" as *;

.lead-subscribe {
    display: grid;
    gap: $spacing-400;
    align-items: start;
    padding: $spacing-100 0 $spacing-600;

    &__info {
        &-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: $spacing-200;
            padding: $spacing-600 0 0 0;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: $spacing-200;

        &-label {
            display: inline-block;
            font-size: $type-size-400;
            font-family: $mercury-small-caps;
            font-weight: 400;
            text-transform: uppercase;
            color: $gray-900;
            letter-spacing: 0.1em;
            line-height: 1;
        }

        svg path {
            stroke: $subscribe-orange-400;
            stroke-width: 1.75px;
        }
    }

    &__headline {
        font-style: italic;
        transform: translateY(1px);
    }
}