@use "./abstracts" as *;
@use "sass:color";

.subscribe {
    display: grid;
    gap: $spacing-400;
    align-items: start;
    padding: $spacing-100 0 $spacing-600;

    &__info {
        &-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: $spacing-200;
            padding: $spacing-300 0 0 0;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: $spacing-200;

        &-label {
            display: inline-block;
            font-size: $type-size-400;
            font-family: $mercury-small-caps;
            font-weight: 400;
            text-transform: uppercase;
            color: $gray-900;
            letter-spacing: 0.1em;
            line-height: 1;
        }

        svg path {
            stroke: $subscribe-orange-400;
            stroke-width: 1.75px;
        }
    }

    &__headline {
        font-style: italic;
        transform: translateY(1px);
    }

    &__form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: $spacing-300;
        position: relative;

        &-wrapper {
            display: grid;
            padding: $spacing-400;
            background: $subscribe-tan-200;
            border: 1px solid $subscribe-tan-400;
            box-shadow: 54px 117px 36px 0px rgba(0, 0, 0, 0.00), 35px 75px 33px 0px rgba(0, 0, 0, 0.01), 20px 42px 28px 0px rgba(0, 0, 0, 0.05), 9px 19px 21px 0px rgba(0, 0, 0, 0.09), 2px 5px 11px 0px rgba(0, 0, 0, 0.10);
            font-family: $jetbrains-mono;
        }
    }

    &__label {
        color: $gray-700;
        text-transform: uppercase;
        font-size: $type-size-100;
        letter-spacing: 0.1em;
        line-height: 1;
        font-weight: 600;
    }

    &__input {
        flex: 1;
        border: 1px solid $gray-300;
        border-radius: 0;
        padding: $spacing-200;
        font-size: $type-size-200;
        color: $subscribe-tan-900;
        font-weight: 400;
        background: #f9f3eb;
        font-family: $jetbrains-mono;
        height: 2.5rem;
        line-height: 1;
        letter-spacing: 0.05em;
        overflow: hidden;
        white-space: nowrap;
        transition: all 300ms ease;

        @include placeholder {
            color: $gray-500;
            font-weight: 400;
            font-style: italic;
            font-size: $type-size-100;
            letter-spacing: unset;
        }

        &:focus {
            border-color: $gray-700;
            outline: none;
        }
    }

    &__button {
        display: inline-block;
        font-family: $jetbrains-mono;
        font-size: $type-size-100;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border-radius: $spacing-300;
        padding: 7px $spacing-300 6px;
        white-space: nowrap;
        position: absolute;
        z-index: 10;
        right: $spacing-200;
        top: 7px;
        text-align: center;
        transition: all 400ms ease;
        border: 1px solid $subscribe-orange-600;
        color: $subscribe-tan-200;
        background: $subscribe-orange-400;

        &:hover {
            cursor: pointer;
            background: $subscribe-orange-600;
        }
        
        &:focus {
            outline: none;
        }
 
    }

    &__receipt {   
        transition: all 500ms ease;
        interpolate-size: allow-keywords;
        height: 0;
        overflow-y: clip;

        &.is-visible {
            height: auto;
            transition: all 500ms ease;
            margin-top: 1rem;
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $spacing-200 $spacing-300;
            background: $subscribe-blue-700;

            svg {
                height: 1.5rem;
                width: auto;

                path {
                    fill: $subscribe-tan-200;
                }
            }
        }

        &-title {
            margin: 0;
            color: $subscribe-tan-200;
            text-transform: uppercase;
            font-size: $type-size-100;
            font-weight: 600;
            letter-spacing: 0.1em;
        }

        &-body {
            padding: $spacing-500 $spacing-600 $spacing-600;
            border-right: 1px solid $subscribe-blue-700;
            border-left: 1px solid $subscribe-blue-700;
            display: grid;
            gap: $spacing-600;
            align-items: start;

            @include mq(tablet) {
                gap: $spacing-500;
            }

            @media (width >= 1100px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        &-item {
            display: grid;
            gap: $spacing-050 $spacing-400;
            align-items: center;

            @include mq(tablet) {
                grid-template-columns: 4rem minmax(0, 1fr);
            }
        }

        &-label {
            font-size: $type-size-100;
            font-weight: 600;
            letter-spacing: 0.1em;
            line-height: 1;
            text-transform: uppercase;
            color: $subcribe-red-600;

            @include mq(tablet) {
                text-align: right;
            }
        }

        &-value {
            border-bottom: 1px dashed $subscribe-blue-700;
            color: $subscribe-blue-700;
            padding-bottom: $spacing-100;
            font-size: $type-size-200;
            overflow: hidden;
            white-space: nowrap;
            line-height: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            height: 2rem;
            display: grid;
            align-items: end;

            &.handwritten {
                font-family: $stolen-hand;
                font-size: $type-size-400;
                font-weight: 500;
                color: $subscribe-tan-900;
                text-transform: none;
                letter-spacing: 0;
            }

        }

        &-footer {
            border: 1px solid $subscribe-blue-700;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        &-meta {
            display: grid;
            place-items: center;
            position: relative;
            padding: $spacing-400 $spacing-400;

            &:not(:last-child) {
                border-right: 1px solid $subscribe-blue-700;
            }

            &-label {
                font-size: $type-size-050;
                font-weight: 600;
                letter-spacing: 0.1em;
                line-height: 1;
                text-transform: uppercase;
                position: absolute;
                top: 6px;
                right: 6px;
                color: $subcribe-red-600;
            }

            &-value {
                font-size: $type-size-400;
                font-weight: 600;
                letter-spacing: 0.1em;
                line-height: 1;
                color: $subscribe-tan-900;

                &.handwritten {
                    font-family: $stolen-hand;
                }
            }
        }

    }

    &__success-message {
        display: flex;
        align-items: center;
        gap: $spacing-200;
        font-size: $type-size-100;
        margin-bottom: 4px;

        strong {
            font-weight: 700;
            color: #768A72;
            display: inline-block;
            border-radius: $spacing-050;
            font-size: $type-size-100;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            line-height: 1em;
            display: flex;
            align-items: center;
            gap: $spacing-200;
        }
    }
}


.fade-in {
    animation: fadeIn 500ms ease-in;
    opacity: 1; /* Ensure the element is fully visible */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  color: $subscribe-orange-400;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.htmx-indicator{
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1;
}
.htmx-request.htmx-indicator{
    opacity:1;
}