.copy {

	&-1 {
		font-size: $type-size-400;
		line-height: 1.375em;
	}

	&-2 {
		font-size: $type-size-300;
		line-height: 1.5em;

		blockquote {
			padding-left: 1rem;
			border-left: 2px solid $black;
			margin: 1.5rem 0 1.5rem 1rem;
			font-size: 0.875em;
		}
	}

	&-3 {
		font-size: $type-size-300;
		line-height: 1.5em;

		@include tablet {
			font-size: $type-size-200;
		}
	}


	&-4 {
		font-size: $type-size-100;
		line-height: 1.5em;
	}
}

.primary-story,
.secondary-story {
	.copy-2 {
		text-indent: 1.25rem;

		& > p:last-of-type {
			&::after {
				content: '';
				display: inline-block;
				width: 0.375rem;
				height: 0.375rem;
				background: $black;
				transform: translate3d(6px, -2px, 0);
			}
		}

		blockquote {
			p {
				text-indent: 0;
			}

			& + p {
				text-indent: 0;
			}
		}
	}

	.caption {
		padding-top: 0.5rem;
		font-style: italic;
		font-size: $type-size-150;
		line-height: 1.25em;

	}
}