.section-header {
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 3px 0;
	margin-bottom: 1.5rem;

	h2 {
		border-top: 1px solid rgba(0, 0, 0, 0.5);
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		padding: 0.875rem 0 1rem;
	}
}

.section-header-title {
	font-family: $mercury-small-caps;
	font-weight: 400;
	text-transform: lowercase;
	font-size: $type-size-500;
	line-height: 1em;
	letter-spacing: 0.05em;

	&.small {
		font-size: $type-size-400;
	}
}

.meta {
	.topic {
		@include small-header();
		padding-bottom: 0.5rem;

		&:after {
			display: block;
			content: '';
			width: 0.75rem;
			height: 1px;
			background: $black;
			opacity: 0.6;
			margin-top: 0.5rem;
		}

		&.no-border {
			&::after {
				display: none;
			}
		}
		
		&.right {
			&:after {
				@include desktop-medium {
					margin-left: auto;
				}
			}
		}
	}
}