body,
button,
input,
select,
optgroup,
textarea {
    font-family: $chronicle;
}

a {
    color: $black;
    text-decoration: none;
}

::-moz-selection {
    background: $orange;
    text-shadow: none;
}

::selection {
    background: $orange;
    color: $white;
    text-shadow: none;
}

@import 'headings';

@import 'copy';
