@use "./abstracts" as *;

.divider {
    & > * {
        width: 100%;
        height: 1px;
    }

    .dark {
        background: rgba($black, 1);
    }

    .light {
        background: rgba($black, 0.33);
    }
}

.triple-divider {
    .middle {
        margin: $spacing-100 0;
    }
}

.top-divider {
    .top {
        margin-bottom: $spacing-100;
    }
}

.bottom-divider {
    .bottom {
        margin-top: $spacing-100;
    }
}
