@use "./abstracts" as *;

.divider {
    & > * {
        width: 100%;
        height: 1px;
    }

    .dark {
        background: $gray-1000;
    }

    .light {
        background: $gray-300;
    }
}

.triple-divider {
    .middle {
        margin: $spacing-100 0;
    }
}

.top-divider {
    .top {
        margin-bottom: $spacing-100;
    }
}

.bottom-divider {
    .bottom {
        margin-top: $spacing-100;
    }
}

.single-divider {
    display: none;

    @include mq(desktop-small) {
        display: block;
    }

    .middle {
        background: $gray-100;
    }
}
