@use "./abstracts" as *;

.site-header {
    background: $gray-50;
    height: 3rem;
    position: relative;

    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background: $gray-300;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
    }
}
