@import 'saturday-sun/issue-header';

.news {
    @include mobile-centering;

    .primary-story,
    .secondary-story {
        .photo {
            @include desktop-small {
                display: flex;
                flex-direction: column;
            }
            
            .image {
                @include desktop-small {
                    flex: 1;
                }

            }

            .caption {
                
            }
        }

    }

    @import 'saturday-sun/primary-story';

    @import 'saturday-sun/secondary-stories';

    @import 'saturday-sun/headlines';

    @import 'saturday-sun/subscribe';
}

@import 'saturday-sun/sports';

@import 'saturday-sun/events';