@use "./abstracts" as *;

.photos {
    display: grid;
    gap: $spacing-500;

    &__grid {
        display: grid;
        gap: $spacing-400;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}
