.dark {
    background: #202020;
    color: $white;

    a {
        color: $white;
    }

    .section-header {
        border-color: $white;

        h2 {
            border-color: rgba(255, 255, 255, 0.5);
        }
    }

    .divider {
        .dark {
            background: rgba(255, 255, 255, 1);
        }

        .light {
            background: rgba(255, 255, 255, 0.33);
        }
    }
}
