.divider {
    & > * {
        width: 100%;
        height: 1px;
    }

    .dark {
        background: rgba(#000000, 1.0)
    }

    .light {
        background: rgba(#000000, 0.33)
    }
}

.triple-divider {
    padding: 2rem 0;
    
    .middle {
        margin: 4px 0;
    }
}

.top-divider {
    .top {
        margin-bottom: 4px;
    }
}

.bottom-divider {
    .bottom {
        margin-top: 4px;
    }
}

