.subscribe-btn {
    display: inline-block;
    color: $white;
    font-family: $decimal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: $type-size-100;
    padding: 1rem 1.75rem;
    background-image: linear-gradient(145deg, #ff6aab 0%, #f28675 100%);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
}
