$white: #fff;
$slate: #1a1a1a;
$black: #000;

$pink: #ff6aab;
$orange: #f28675;

$gray-0: #ffffff;
$gray-50: #fafafa;
$gray-100: #efefef;
$gray-200: #dcdcdc;
$gray-300: #bdbdbd;
$gray-400: #989898;
$gray-500: #7c7c7c;
$gray-600: #656565;
$gray-700: #525252;
$gray-800: #464646;
$gray-900: #3d3d3d;
$gray-950: #292929;
$gray-1000: #000000;

$subscribe-blue-700: #545E78;
$subcribe-red-600: #99140B;

$subscribe-tan-200: #F4ECE2;
$subscribe-tan-400: #DED6CB;
$subscribe-tan-600: #B5A896;
$subscribe-tan-700: #725415;
$subscribe-tan-900: #45320C;

$subscribe-orange-400: #D36135;
$subscribe-orange-600: #b34b22;