@forward "nav-mobile";

@forward "nav-desktop";

@forward "logo";

@forward "subscribe-cta";

@forward "hamburger";

@use "./abstracts" as *;

.site-header {
    background-color: #f8f8f8;
    padding: $spacing-300 $spacing-400;
    border-bottom: 1px solid $gray-200;
    box-shadow: 0 4px 16px 0 rgba($gray-900, 0.05);
    position: sticky;
    top: 0;
    z-index: 4444;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &__left {
        display: flex;
        align-items: center;
        gap: $spacing-500;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: $spacing-400;
    }
}
